// @mixin placeholder-text-color($color) {
    ::-webkit-input-placeholder { /* WebKit browsers */
        color:    $gray-md;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    $gray-md;
        opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    $gray-md;
        opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    $gray-md;
    }
// }