<img 
    class="loading"
    ng-src="Resources/images/ajax-loader.gif"
    ng-if="table.data.isLoading"
    />

<div 
    class=""
    ng-if="table.data.isLoading == false"
    >
    <div>
        <table class="text-left text-gray-md">
            <thead>
                <tr class="text-xs"
                    >
                    <th
                        ng-repeat="key in table.keys"
                        ng-click="table.order.set(key)"
                        class="text-white text-thin"
                        ng-class="{
                            'bg-gray-md-light' : table.order.latestInput !== key,
                            'selected bg-gray-dark'   : table.order.latestInput === key,
                            reversed    : table.order.latestInput === key && table.order.reverse
                        }"
                    >   
                        <span>{{key}}</span>
                        <span class="table-arrow"></span>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr 
                    class="text-block text-xxs"
                    ng-class="{
                        'bg-gray-xlight': table.currentWeek === row.Week,
                        'bg-white-almost': table.currentWeek !== row.Week
                    }"
                    ng-repeat="
                        row in table.all | orderBy
                            : table.order.value
                            : table.order.reverse
                    "
                    >

                    <td ng-repeat="key in table.keys">
                        <span
                            ng-if="!isArray(row[key])">
                            {{ row[key] }}
                        </span>

                        <ul
                            ng-if="isArray(row[key]) "
                            >
                            <li
                                ng-repeat="k in row[key]"
                            >
                                <span ng-if="k.link === undefined">{{k.text}}</span>
                                <a
                                    ng-if="k.link !== undefined"
                                    href="{{k.link}}"
                                    target="_blank"
                                >{{k.text}}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>