@import "spacer";
@import "border";
@import "bg-color";
@import "table";

.fixed-bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

@include breakpoint("hide") {
    display: none;
}

@include breakpoint("show") {
    display: inline-block;
}