$inline-group-margin: 10px;

[class*="inline-group-"] {
    display: inline-block;

    &:first-child {
        margin-left: 0;
    }

    > * {
        display: inline-block;
        vertical-align: middle;
    }
}

.inline-group-sm {
    > * {
        margin-left: $inline-group-margin;            
    }
}

.inline-group-md {
    > * {
        margin-left: $inline-group-margin * 2;            
    }
}