table {
    margin: 0 auto;
    width: 100%;
}


td, th {
    position: relative;
}

td {
    padding: 8px 28px 8px 14px;
}

th {
    cursor: pointer;
    padding: 8px 35px 8px 14px;
}

tbody tr:not(:first-of-type) {
    border-top: 1px solid map-get($colors, "gray-xlight");
}

.table-arrow {
    font-size: 10px;
    position: absolute;
    right: 10px;
    top: 11px;
    display: none;
    width: 0;
    height: 0;
}

.selected {
    background-color: map-get($colors, "gray-dark");

    .table-arrow {
        display: inline-block;
        border-left: .6em solid transparent;
        border-right: .6em solid transparent;
        border-bottom: 0 solid transparent;
        border-top: 1em solid map-get($colors, "gray-light");
    }

    &.reversed {
        .table-arrow {
            display: inline-block;
            border-left: .6em solid transparent;
            border-right: .6em solid transparent;
            border-bottom: 1em solid map-get($colors, "gray-light");
            border-top: 0 solid transparent;
        }
    }
}