[class*="text-"] {
    .text-thin,
    &.text-thin {
        font-weight: 100;
        letter-spacing: 0.1em
    }

    .text-semibold,
    &.text-semibold {
        font-weight: 400;
    }

    .text-bold,
    &.text-bold {
        font-weight: 600;
    }
}