@import "color";
@import "font";
@import "size";
@import "align";

@mixin default-text() {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    letter-spacing: 0.05em;
}

[class*="text-"] {
    @include default-text;
}

.text-block {
    line-height: 1.5em;
}