$colors: (
    "gray-dark"   : #42474C,
    "gray-md" : #77797B,
    "gray-md-light": #8f8f98,
    "gray-light"  : #EDEDED,
    "gray-xlight"  : #F6F6F6,
    "green"   : #8BC63F,
    "green-dark": #567B27,
    "green-pale": #B6DA82,
    "red"     : #CC1111,
    "white"   : #FFFFFF,
    "yellow"  : #FFC23C,
    "blue"    : #35aaff,
    "orange"  : #FF8A43,
    "cream"   : #f8f0e6,
    "brown"   : #9A8479,
    "none"    : transparent
);

@import "reset";
@import "base/init";
@import "components/init";

body {
    min-width: 864px;
}

*::selection {
    background-color: transparent;
}

a[href] {
    color: map-get($colors, "blue");
    font-weight: 400;

    &:hover {
        text-decoration: underline;
    }
}

th {
    cursor: pointer;
    padding: 8px 35px 8px 14px;
}

td {
    padding: 8px 28px 8px 14px;
}

td, th {
    position: relative;
}

table li {
    list-style: disc inside;
    text-indent: -1em;
    margin-left: 1em;
}

hr {
    border: none;
    margin: 0;
    height: 1px;
}

.image-wrapper {
    background-size: cover;
    background-position: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}