@import "reset";
@import "config/init";
@import "mixins/init";
@import "base/init";
@import "components/init";

body {
    color: $gray-dark;
}

a {
    @extend .text-blue;
    @extend .text-semibold;
}

a:hover {
    text-decoration: underline;
}

hr {
    border-style: solid;
    border-width: 1px 0 0 0;
    margin: 0.5em 0;
}

*::selection {
    background-color: transparent;
}

.round {
    border-radius: 8px;
}

.video-arrow {
    margin-top: 23px;
    padding: 0;
}

.full-width {
    width: 100%;
    display: inline-block;
}

.full-height {
    height: 100%;
}

.auto-width {
    width: auto;
}

.auto-height {
    height: auto;
}

.padding-0 {
    padding: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text-block {
    line-height: 1.5em;
}

body .panel {
    @extend .button-lg;
    @extend .auto-height;
    padding: 0 20px;
    height: auto;
}
