$white: #FFF;
$black: #000;

$gray-dark: #444;
$gray-md-dark: #666;
$gray-md: #777673;
$gray-md-light: #8f8f8c;
$gray-light: #c0c0bf;
$gray-xlight: #e1e1e1;

$blue: #35aaff;
$blue-dark: #12133D;
$blue-fb: #415e9b;

$orange: #f79622;

$red: #e95420;

$purple: #7030a0;

$brown: #B80;

$white-almost: #f9f9f9;
$white-overlay: rgba(255, 255, 255, 0.85);