.bg-blue-dark {
    background-color: $blue-dark;
}

.bg-blue-fb {
    background-color: $blue-fb;
}

.bg-white {
    background-color: $white;
}

.bg-orange {
    background-color: $orange;    
}

.bg-red {
    background-color: $red;    
}

.bg-purple {
    background-color: $purple;    
}

.bg-gray-md {
    background-color: $gray-md;
}

.bg-gray-md-dark {
    background-color: $gray-md-dark;
}

.bg-gray-md-light {
    background-color: $gray-md-light;
}

.bg-gray-light {
    background-color: $gray-light;
}

.bg-gray-xlight {
    background-color: $gray-xlight;
}

.bg-white-overlay {
    background-color: $white-overlay;
}

.bg-white-almost {
    background-color: $white-almost;
}

.bg-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}